.btn_list {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 30px;
}

.btn {
  width: 200px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 24px;
  border: 1px solid black;
  border-radius: 10px;
  color: black;
  background-color: #fff;
  transition: 1s;
}
.btn:hover,
.btn:focus {
  color: #fff;
  background-color: #000;
}
